@page "/articles/search"
@inject ILogger<Search> _logger
@inject HttpClient _httpClient

<h3>Search</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@articleSearch" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label class="control-label">Category</label>
                <InputSelect id="tb_category" class="form-control" @bind-Value="articleSearch.CategoryId" disabled="@disabled">
                    <option value="" hidden>Search all</option>
                    @foreach (var category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label class="control-label">Title</label>
                <InputText id="tb_title" class="form-control" @bind-Value="articleSearch.Title" disabled="@disabled" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </EditForm>
        <p class="@messageCss">@message</p>
    </div>
</div>

@code {
    private ArticleSearch articleSearch = new();
    private List<Category> categories = new();
    private bool disabled;
    private string message;
    private string messageCss;

    protected override async Task OnInitializedAsync()
    {
        await GetCategoriesAsync();
    }

    protected async Task GetCategoriesAsync()
    {
        categories = await _httpClient.GetFromJsonAsync<List<Category>>("api/categories");
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            disabled = true;
            messageCss = "valid-message";
            message = "the form has been processed";

            var response = await _httpClient.PostAsJsonAsync<ArticleSearch>("api/articles", articleSearch);
            if (response.IsSuccessStatusCode)
            {
                //_navigationManager.NavigateTo("/articles/pending");
            }
        }
        catch
        {
            disabled = false;
            messageCss = "invalid-message";
            message = "there was an error processing the form";
            _logger.LogWarning("Failed to process form");
        }
    }
}
